@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #333333;
  --primary-dark: #161616;
  --primary-light: #444444;
  --accent: #6f0b97;
  --accent-light: #a112da;
  --text: #ffffff;

  background-color: var(--primary);
  font-family: 'Inter', sans-serif;
  color: white;
}

*:focus-visible  {
  outline: solid 2px var(--accent-light);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-light);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-light);
}